*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

:root {
    --clr-Yellow:#f4d04e;
    --clr-White:#ffffff;
    --clr-Grey: #808080;
    --clr-Black:#121212;

    --ff-main: "Figtree", sans-serif;
    --fs-main: 16px;
    --fs-600: 600;
    --fw-800: 800;
}

body{
    font-family: var(--ff-main);
    font-size: var(--fs-main);
    font-weight: var(--fs-600);
    color: var(--clr-Grey);
    background-color: var(--clr-Yellow);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container{
    background-color: #ffffff;
    width: 350px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    border-radius: 20px;
    padding: 1rem;
}

.blog-type {
    color: var(--clr-Black);
    font-weight: var(--fw-800);
    display: inline-block;
    background-color: var(--clr-Yellow);
    padding: .5rem .8rem;
    border-radius: .2rem;
}

.blog-date {
    font-size: 14px;
    color: var(--clr-Black);
}

.blog-title {
    color: var(--clr-Black);
    font-weight: var(--fw-800);
    font-size: 1.4rem;
}

.author {
    color: var(--clr-Black);
    font-weight: var(--fw-800);
    font-size: 14px;
}

.user-data {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-image{
    width: 2.7rem;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    line-height: 1.1;
}